{% extends 'base.html' %}

{% load static %}

{% block content%}

<style>
    .pdf {
        font-size: calc(5% + 1vw + 1vh);
        font-weight: bold;
        font-style: italic;
        float: right;
    }

    

    p {
        text-align: center;
        font-size: calc(30% + 1vw + 1vh);
        font-weight: bolder;
        color: rgb(255, 255, 255);
    }

    .main-content {
        font-size: calc(50% + 0.5vw + 0.5vh);
        text-align: center;
    }

    u {
        font-weight: bold;
        font-style: italic;
        color: rgb(73, 77, 82);
    }

    .custom-select {
        font-size: calc(50% + 0.5vw + 0.5vh);
        width: 40%;
        margin-left: 250px;
    }
    .btn {
        font-size: calc(50% + 0.5vw + 0.5vh);
        width: 20%;
        
    }

.col-6{
    height: 78vh;
    width: 700px;
    background-repeat: no-repeat;
    background-size: contain;
}
#two{ background-repeat:no-repeat;
    background-position: center;
    background-image:url("{% static 'hmis_dash/image/image24.jpg' %}");
    background-size: cover;}
</style>


<!-- <div class="row align-items-end">
    <div class="col">
        <u><a class="pdf" href="{% static 'Know_your_district_dashboard_manual.pdf' %}" target="_blank"
                style="color: rgb(38, 112, 112);">Dashboard Manual</a></u>
    </div>
</div> -->
<!-- <div class="container-fluid">
    <div class="row" style="margin-top:10px">
        <div class="col-3">
            <img src="{% static 'dashboard/img/iitb_logo.jpg'%}" class="mx-auto d-block" />
        </div>

        <div class="col-3">
            <img src="{% static 'dashboard/img/WCD.jpg'%}" class="mx-auto d-block" />
        </div>

        <div class="col-3">
            <img src="{% static 'dashboard/img/unicef_india.jpg'%}" class="mx-auto d-block" />
        </div>

        <div class="col-3">
            <img src="{% static 'dashboard/img/ctara.jpg'%}" class="mx-auto d-block" />
        </div>
    </div> -->

 

    <!-- 

    <div class="row" style="margin-top:10px">
        <div class="col text-center main-content">
            <u>Outcome indicators:</u>
            It includes the nutrition status (Stunting/Wasting/Underweight/Low Birth Weight) of the children.
            <br /><br />

            <u>Child Related(IYCF) Indicators:</u>
            It includes the Brestfeeding and Complementary feeding practices followed for 0-6 months and 6-24 months
            children.
            <br /><br />

            <u>Pregnant Women Related Indicators:</u>
            It includes ANC visits, number of Anaemic women.

        </div>
    </div> -->

    {% if messages %}

    {% for message in messages %}

    <script>
        M.toast({ html: "{{message}}", classes: 'blue rounded', displayLength: 2000 });
    </script>

    {% endfor %}

    {% endif %}


    {% if user.is_authenticated %}

    <div class="row">

        <div class="col-6"  style="width: 700px;">
            <p>Health Management Information System (HMIS)</p>
            <a href="{% url 'overview' %}">
<img src="{% static 'hmis_dash/image/poshan.png' %}"  style="margin-left: 250px;" alt="">
<label for="" style="background-color: rgb(187, 250, 127); color: #000; font-size: larger;">POSHAN 2.0 HMIS
</label></a>
<br><br>
            
                <!-- <select class="custom-select" name="dist_select" id="distList">
                    <option selected disabled>Select Region</option>
                    {% for dist_select in dd_dt_data %}
                    <option value="{{ dist_select.district_n }}">{{ dist_select.district_n }}
                    </option>
                    {% endfor %}
                </select><br></br> -->

                <!-- {% if user.username == 'Amravati' %} 
                        <select class="custom-select" name = "quarter_select" id="quarterList"> 
                            <option value="q21">Dec-Feb</option>
                        </select><br>-->
                <!-- {% else %} -->
                <!-- <form id="myform" name="myForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                <select class="custom-select" name="fy_select" id="fyList">
                    <option selected disabled>Select FY</option>
                    <option value="2017-2018">2017-2018</option>
                    <option value="2018-2019">2018-2019</option>
                    <option value="2019-2020">2019-2020</option>
                    <option value="2020-2021">2020-2021</option>
                </select>
                <div class="d-flex justify-content-center mt-1">
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div> -->
<p>"This is Beta Version"</p>
</form>

        </div>
        <div class="col-6" id="two">
            <!-- <img src="{% static 'hmis_dash/image/image24.jpg' %}" alt=""> -->
        </div>
   
    {% endif %}

    <!-- <br><br> -->
    
    
</div>
<!-- </div> -->

<br>

{% endif %}
<!-- </div> -->
<footer>
    <div class="footer">
    <div id="row1">
        
        <div class="row" id="row2"><div class="col"><label for="">Adolescence
            
        </label><img style="width: 40px; height: 50px;" src="{% static 'hmis_dash/image/ado.png' %}" alt=""></div><div class="col"><label for="">Preconception
            
        </label><img style="width: 40px; height: 50px;" src="{% static 'hmis_dash/image/pre.png' %}" alt=""></div><div class="col"><label for="">Pregnancy
            
        </label><img style="width: 40px; height: 50px;" src="{% static 'hmis_dash/image/preg.png' %}" alt=""></div><div class="col"><label for="">Delivery/ PNC
            
        </label><img style="width: 40px; height: 50px;" src="{% static 'hmis_dash/image/del.png' %}" alt=""></div><div class="col"><label for="">Early Childhood
            
        </label><img style="width: 40px; height: 50px;" src="{% static 'hmis_dash/image/ec.png' %}" alt=""></div><div class="col"><label for="">School Age
            
        </label><img style="width: 40px; height: 50px;" src="{% static 'hmis_dash/image/sa.png' %}" alt=""></div></div>
        
    </div>
</div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js"></script>
<script>
    $("#myform").submit(function () {
        var fySelect = document.forms["myForm"]["fy_select"].value;
        $("#myform").attr("action", "{% url 'overview' %}");
        
    })

</script>

{% endblock %}